- siteTitle = "VanillaJs - SPA"
- pageTitle = "Single Page Application - Vanilla JS"
- author = "@efscomplex"
- 
    routes = [
        {path:"/pug/views/home.html",label:"Home"},
        {path:"/pug/views/about.html",label:"About Us"},
        {path:"/pug/views/contact.html",label:"Contact"},
    ]