@mixin templates {
   body {
        min-height:100vh;
        display:grid;
        grid-template-areas: 'header' 
                            'main' 
                            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: fit-content(0px) 1fr min-content;
        @include setGridAreas(
            'header','main','aside','footer'
        );  
        .header { 
            padding:1rem 5vw;
            justify-content: space-between;
            & > * { margin-right:1rem; }
            .logo { height:3rem; }
        }
        .main {
            padding-top:3rem;
        }
        .field {
            margin-bottom:1rem;
        }
   }
}

